
.full-viewport-video-wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 2147483646 !important;
}

.full-viewport-video-wrapper .ytp-gradient-bottom,
.full-viewport-video-wrapper .ytp-settings-menu,
.full-viewport-video-wrapper .ytp-caption-window-container {
  z-index: 2147483647 !important;
}

.full-viewport-video-wrapper .ytp-chrome-bottom {
  width: calc(100vw - 24px) !important;
  max-width: calc(100vw - 24px) !important;
  min-width: calc(100vw - 24px) !important;
  position: fixed;
  bottom: 0;
  z-index: 2147483647 !important;
}
